section.contact{
    padding: 100px 0;

    h2{
        font-family: "Inter";
        text-align: center;
        font-size: 24px;
        margin-bottom: 60px;
    }
}

.contact__items{
    display: flex;
    margin-bottom: 100px;
    gap: 0 10px;
    justify-content: space-between;
    .contact__item{
        display: flex;
        font-family: "Inter";
        gap: 0 10px;

        & > p{
            margin-top: 5px;
        }

        .contact__item-body{
            font-size: 26px;
            font-family: "Space";
            font-weight: 600;
            max-width: 300px;

            a{
                text-decoration: none;
                color: var(--dark);
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .contact__items{
        flex-direction: column;
        gap: 30px;
        .contact__item{
            align-items: center;
        }
    }

    section.contact{
        padding: 50px 0;
        iframe{
            height: 300px !important;
        }
    }
}