.discuss__wrapper{
  margin: 100px 0;
  h2{
    font-size: 50px;
    font-family: "Syne";
    font-weight: 800;
    line-height: 60px;
  }
  p{
    font-family: "Inter";
    font-size: 15.5px;
    line-height: 30px;
  }
}

.discuss__form{
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  gap: 66px;
  div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    input{
      border: none;
      outline: none;
      font-size: 16px;
      width: 100%;
      padding-bottom: 13px;
      border-bottom: 1px solid #111;
      transition: .3s ease;
    }
    input:focus{
      text-indent: 10px;
    }
  }

  textarea{
    font-size: 16px;
    height: 113px;
    border: none;
    border-bottom: 1px solid #111;
    outline: none;
    resize: none;
    transition: .3s ease;

    &:focus{
      text-indent: 10px;
    }

    &::-webkit-scrollbar{
      --webkit-apperance: none;
      width: 3px;
      background-color: #5554;
    }
    &::-webkit-scrollbar-thumb{
      background-color: #111;
    }
  }

  button{
    font-size: 18px;
    padding: 16px 46px;
    align-self: flex-start;
    border: none;
    background-color: #111;
    color: #fff;
    transition: all .3s ease;
    &:hover{
      opacity: .9;
    }
    &:active{
      transform: scale(.98);
    }
  }

}