{%- render 'stylesheet' name: 'collection-list-banner'- %}

{% if section.settings.banner_image != blank %}
        <section class="collection-list-banner" id="collection-list-banner">
           {% if section.settings.banner_image %}
                {{ section.settings.banner_image |  image_url: width: 2000 |  image_tag: class: 'desktop-collection-banner'   }}
           {% endif %}
           {% if section.settings.banner_mobile %}
             {{ section.settings.banner_mobile |  image_url: width: 2000 |  image_tag: class: 'mobile-collection-banner'   }}
           {% endif %}
           {% if section.settings.banner_text != blank %}
            <h1 class="collection-banner__text">{{ section.settings.banner_text }}</h1>
        {% endif %}
        </section>
{% endif %} 

{% schema %}
    {
        "name": "Collection list banner",
        "settings": [
            {
                "type": "image_picker",
                "id" : "banner_image",
                "label": "Banner image"
            },
            {
                "type": "image_picker",
                "id": "banner_mobile",
                "label": "Banner mobile"
                },
            {
                "type": "text",
                "id" : "banner_text",
                "label": "Banner text"
            }
        ],
        "presets": [
            {
                "name": "Collection list banner"
            }
        ]
    }
{% endschema %}
