@font-face {
    font-family: "Syne";
    font-style: normal;
    font-weight: 400;
    src: url("../../assets/Syne-Regular.woff") format("woff");
    font-display: swap;
} 

@font-face {
  font-family: "Syne";
  font-style: normal;
  font-weight: 500;
  src: url("../../assets/Syne-Medium.woff") format("woff");
  font-display: swap;
} 

@font-face {
  font-family: "Syne";
  font-style: normal;
  font-weight: 600;
  src: url("../../assets/Syne-SemiBold.woff") format("woff");
  font-display: swap;
} 

@font-face {
  font-family: "Syne";
  font-style: normal;
  font-weight: 700;
  src: url("../../assets/Syne-Bold.woff") format("woff");
  font-display: swap;
} 

@font-face {
  font-family: "Syne";
  font-style: normal;
  font-weight: 800;
  src: url("../../assets/Syne-ExtraBold.woff") format("woff");
  font-display: swap;
} 

@font-face {
  font-family: "Space";
  font-style: normal;
  font-weight: 400;
  src: url("../../assets/SpaceGrotesk-Regular.woff2") format("woff2");
  font-display: swap;
} 

@font-face {
  font-family: "Space";
  font-style: normal;
  font-weight: 700;
  src: url("../../assets/SpaceGrotesk-Bold.woff2") format("woff2");
  font-display: swap;
} 

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../../assets/Inter-Regular.woff2") format("woff2");
  font-display: swap;
} 