:root{
    --dark: #1E1E1E;
    --light: #FFFFFF;
    --lighter-dark: #1e1e1e72;
    --secondary: #f7f7f7;
    --secondary-font-color: #959494;
    --secondary-border-color: #3c3c4381;
    --light-border-color: #91919143;
    --border-color: #3c3c43a5;
}